{% extends "base.html" %}

{% block main %}

    <div class="container-fluid">
        <span id="heading"><h1>Upload Form</h1></span>
        
        {% include 'flash_messages.html' %}
        
        <form method='post' action='/profile/' enctype="multipart/form-data" >
          {{ form.csrf_token }}
            
          <div class="form-group">
            {{ form.firstname.label }}<span class="required">  *Required</span>
            <span id="helpBlock" class="help-block">Please enter your firstname.</span>
            {{ form.firstname(class='form-control', id ='firstname', placeholder="Enter your firstname") }}
          </div>
          
          <div class="form-group">
            {{ form.username.label }}
            <span id="helpBlock" class="help-block">Please enter your firstname.</span>
            {{ form.username(class='form-control', id ='username', placeholder="Enter your username") }}
          </div>
          
          <div class="form-group">
            {{ form.lastname.label }}
            <span class="required">  *Required</span>
            <span id="helpBlock" class="help-block">Please enter your lastname.</span>
            {{ form.lastname(class='form-control', id ='lastname', placeholder="Enter your lastname") }}
          </div>
          
          {{ form.age.label }}
          <select id="age" name="age" class="form-control">
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
          </select> <br />
          
          
          <div id="gender" class="form-group">
            <span class="required">  *Required</span>
            <div class="radio">
              <label>
                <input type="radio" name="gender" id="male" value="male">
                Male
              </label>
            </div>
          
            <div class="radio">
              <label>
                <input type="radio" name="gender" id="female" value="female">
                Female
              </label>
            </div>
          </div>
          
          <div class="form-group-sm">
            {{ form.image.label }}<br />
            <input id="image" class="form-control" type="file" name="image" value="" /><br />
          </div><br />
          
          <div class="form-group">
            {{ form.biography.label }}
            <span class="required">  *Required</span>
            <span id="helpBlock" class="help-block">Please enter your biography.</span>
            <textarea class="form-control" id="biography" name="biography" rows="4" placeholder="Biography Here" required></textarea>
          </div>
          
          <button type="submit" class="btn btn-default">Submit</button>
          
        </form>
    </div>

{% endblock %}